Repository sahil-patel001/CatchORamaApp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines.yml

azure-pipelines-1.yml:

# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
  branches:
    include:
    - main
  paths:
    include:
    - backend/** # This triggers the pipeline only when ch

pool:
  name: Default

steps:

- script: echo "This script runs in the 'backend' directory."
  displayName: 'Custom Directory Script'
  workingDirectory: 'backend'

- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: 'Install Node.js'

- script: npm install
  displayName: 'Install dependencies'


- task: ArchiveFiles@2
  displayName: 'Archive output'
  inputs:
    rootFolderOrFile: '$(Build.SourcesDirectory)/backend'
    includeRootFolder: false
    archiveFile: '$(Build.ArtifactStagingDirectory)/$(artifactName).zip'
    replaceExistingArchive: true

- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: 'backend-drop'
    publishLocation: 'Container'

azure-pipelines.yml:

trigger:
  branches:
    include:
      - main   # change this to your branch name
  paths:
    exclude:
    - backend/**
pool:
  name: 'Default'   # self-hosted agent

steps:
# Step 1: Checkout code
- checkout: self

# - task: CmdLine@2
#   displayName: 'Run script in a specific directory'
#   inputs:
#     script: |
#       echo "Running from: %CD%"
#       dir # List contents of the current directory
#     workingDirectory: '$(System.DefaultWorkingDirectory)' # Sets the working directory for this task

# Step 2: Install dependencies (example: Node.js project)
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: 'Use Node.js 20.x'

- script: npm install
  displayName: 'Install dependencies'

# Step 3: Run linter
#- script: npm run lint
#  displayName: 'Run lint'

# Step 4: Build project
- script: npm run build
  displayName: 'Build project'

- task: CopyFiles@2
  inputs:
    contents: '**' # Copies all files and subfolders from the source
    sourceFolder: '$(System.DefaultWorkingDirectory)/dist' # Path to your dist folder
    targetFolder: '$(Build.ArtifactStagingDirectory)'
  displayName: 'Copy dist files to artifact staging directory'

# Step 5: Publish build artifacts
- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: 'drop'
    publishLocation: 'Container'

Update azure-pipelines-1.yml for Azure Pipelines
  azure-pipelines-1.yml
Due: azure-pipelines.yml

local database connection
  backend/.env
Due: azure-pipelines-1.yml

fixing migration path issue
  backend/.env
  backend/migrations/001_add_barcode_schema.js
  backend/migrations/002_optimize_barcode_indexes.js
  backend/migrations/003_rename_invoice_prefix_to_vendor_prefix.js
  backend/migrations/004_add_notification_schema.js
  backend/migrations/005_update_product_uniqueness.js
Due: azure-pipelines-1.yml

working migration up, list, status
  backend/.env
  backend/dotenv/config.js
  backend/migrations/001_add_barcode_schema.js
  backend/migrations/002_optimize_barcode_indexes.js
  backend/migrations/003_rename_invoice_prefix_to_vendor_prefix.js
  backend/migrations/004_add_notification_schema.js
  backend/migrations/005_update_product_uniqueness.js
  backend/package-lock.json
  backend/package.json
  backend/scripts/migrate.js
  tailwind.config.ts
  tsconfig.node.json
  vite.config.js
Due: azure-pipelines-1.yml, azure-pipelines.yml

script changes
  backend/.env
  backend/package.json
Due: azure-pipelines-1.yml

fixing authentication for frontend
  backend/.env
  backend/controllers/authController.js
  backend/package-lock.json
  backend/package.json
  src/contexts/AuthContext.tsx
  src/services/__tests__/reportService.commission.test.ts
  src/services/api.ts
  src/services/authService.ts
  src/services/barcodeService.ts
  src/services/categoryService.ts
  src/services/commissionService.ts
  src/services/dashboardService.ts
  src/services/notificationService.ts
  src/services/orderService.ts
  src/services/productService.ts
  src/services/reportService.ts
  src/services/vendorService.ts
Due: azure-pipelines-1.yml, azure-pipelines.yml

remove dotenv
  vite.config.js
Due: azure-pipelines.yml

fix the api base url reference
  .env
  src/.env.development
  src/services/api.ts
Due: azure-pipelines.yml

canvas removal
  package-lock.json
  package.json
Due: azure-pipelines.yml

canvas removal
  backend/package-lock.json
  backend/package.json
Due: azure-pipelines-1.yml

dev .env file change
  backend/.env
  backend/config/environment.js
Due: azure-pipelines-1.yml

Update .env
  .env
Due: azure-pipelines.yml

Update config.js
  backend/dotenv/config.js
Due: azure-pipelines-1.yml

Update notification.js
  backend/config/notification.js
Due: azure-pipelines-1.yml

adding more methods
  backend/server.js
Due: azure-pipelines-1.yml

fix environment variable
  .env
  backend/.env
  backend/config/environment.js
  backend/config/notification.js
  backend/dotenv/config.js
  backend/server.js
  src/App.tsx
  src/services/notificationService.ts
  vite.config.js
Due: azure-pipelines-1.yml, azure-pipelines.yml

Update App.tsx
  src/App.tsx
Due: azure-pipelines.yml

fix login request path
  src/pages/Login.tsx
  src/services/authService.ts
  src/services/barcodeService.ts
Due: azure-pipelines.yml

Update notificationService.ts
  src/services/notificationService.ts
Due: azure-pipelines.yml

fix auto refresh token, session login/logout
  .env.development
  backend/.env.development
  backend/dotenv/config.js
  backend/package-lock.json
  backend/package.json
  backend/server.js
  package.json
  src/contexts/AuthContext.tsx
  src/pages/admin/AdminDashboard.tsx
  src/pages/admin/ProductManagement.tsx
  src/services/api.ts
  src/services/authService.ts
  src/services/barcodeService.ts
  src/services/commissionService.ts
  src/services/notificationService.ts
  src/services/reportService.ts
  src/services/vendorService.ts
Due: azure-pipelines-1.yml, azure-pipelines.yml

Update AuthContext.tsx
  src/contexts/AuthContext.tsx
Due: azure-pipelines.yml

update for credentials
  src/services/api.ts
  src/services/authService.ts
Due: azure-pipelines.yml

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: azure-pipelines.yml

Update authService.ts
  src/services/authService.ts
Due: azure-pipelines.yml

preflight credentials issue
  backend/controllers/authController.js
  src/services/api.ts
  src/services/authService.ts
Due: azure-pipelines-1.yml, azure-pipelines.yml

add/edit product with front end validation schema change
  .gitignore
  backend/.env
  backend/.env.development
  backend/.env.example
  backend/config/environment.js
  backend/dotenv/config.js
  backend/server.js
  backend/tests/test-api.js
  backend/tests/test-category-creation.js
  backend/tests/test-cubic-weight-simple.js
  backend/tests/test-new-templates.js
  backend/tests/test-notification-utils.js
  backend/tests/test-notifications-simple.js
  backend/tests/test-order-notifications-simple.js
  backend/tests/test-read-filter.js
  backend/tests/test-simple.js
  backend/tests/test-status-filter-working.js
  backend/tests/test-vendor-status-filter.js
  backend/tests/validate-templates-simple.js
  backend/tests/vercel.json
  backend/tests/verify-vendor-data.js
  backend/validation/schemas.js
  favicon.ico
  src/components/modals/AddProductModal.tsx
  src/components/modals/EditProductModal.tsx
  src/services/__tests__/reportService.dateFilters.test.ts
  src/services/categoryService.ts
  src/services/commissionService.ts
  src/services/notificationService.ts
  src/services/reportService.ts
  src/services/vendorService.ts
Due: azure-pipelines-1.yml, azure-pipelines.yml
